@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
   display: flex;
   justify-content: space-between;
   background: #666;
   padding: 0 150px;
   color: white;
   font-weight: bold;
   margin: 0;
}

.left-items {
    align-self: center;
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.section-one {
    background: #666;
    display: flex;
    padding: 0 150px;
}